.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: var(--max-width);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  width: var(--max-width);
  max-width: 100%;
  grid-column-gap: 2%;
}

.column:first-child {
  grid-column: 1 / 2;
  color: rgb(var(--background-rgb));
  width: 100%;
}

.column:not(:first-child) {
  width: auto;
  padding: 1rem 1.5rem;
}

.row {
  background: rgba(var(--rowInfo-rgb));
  padding: 1rem 1.5rem
}

.deptInfo {
  max-width: 70%;
  margin-left: auto;
}

.deptInfo .deptLogo {
  filter: brightness(0) invert(1);
  padding-right: 1rem;
  align-self: flex-start;
}

.deptInfo h2 {
  font-weight: 500;
  margin-bottom: 3rem;
  margin-top: 4rem;
  font-size: 50px;
}

.deptInfo h2 span {
  font-size: 40px;
  transform: scale(.5, 1);
}

.deptInfo button {
  background: none;
	color: inherit;
  font-weight: 300;
  border: none;
	border-bottom: 1px solid rgb(var(--background-rgb));
}

.deptInfo p {
  font-weight: 300;
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 30px;
}

.weatherInfo {
  background-color: rgb(var(--bgWeather-rgb));
  max-width: 70%;
  display: flex;
  padding: 1.5rem 1rem;
  border-radius: 6px;
}

.weatherInfo h2 {
  padding-left: 1rem;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 60px;
  font-weight: 500;
}

.weatherDesc {
  margin-left: 1rem;
}

.weatherDesc p {
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
}

.weatherDesc p:first-child {
  margin-bottom: 0.2rem; 
  font-weight: 500;
  font-size: 18px;
}

.activity {
  max-width: 70%;
  margin-top: 3rem;
}

.activity a {
  text-decoration: none;
  color: rgb(var(--foreground-rgb));
}

.activity h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 2rem;
}

.activityInfo {
  display: flex;
  margin-bottom: 2rem;
}

.activityInfo .wrapper img{
  width: 149px;
  height: 100%; 
  object-fit: cover; 
}

.activityDesc {
  margin-left: 1rem;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(var(--border-rgb));;
}

.activityDesc p {
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
}

.activityDesc p:first-child {
  margin-bottom: 0.2rem; 
  font-weight: 500;
  font-size: 24px;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 390px;
  }

  .deptInfo {
    margin-left: 0;
    max-width: 100%;
  }

  .deptInfo h2 {
    margin-bottom: 0.5rem;
    font-size: 35px;
  }

  .deptInfo h2 span {
    font-size: 25px;
  }

  .weatherInfo {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .weatherInfo h2{
    font-size: 80px;
    padding-left: 0rem;
    padding-bottom: 10px;
  }
  
  .weatherInfo .weatherDesc {
    margin-left: 0rem;
  }

  .activity {
    max-width: 100%;
  }

  .activityInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .activityDesc {
    margin-left: 0;
    margin-top: 20px;
  }

  .activityInfo .wrapper img{
    width: 100%;
    height: 130px; 
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .weatherInfo h2 {
    font-size: 40px;
  }

  .weatherInfo {
    min-width: 90%;
  }

  .activityInfo h2 {
    font-size: 40px;
  }

  .activity {
    min-width: 90%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
